
.section2 {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #000;
}

.sologanWrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.sologan {
  font-size: 35px;
  color: #fff;
  font-family: 'Fira Mono', monospace;
  letter-spacing: -3px;
  animation: glitch 1s linear infinite;
}

.section2 .text {
  font-family: "Lexend Deca";
  font-weight: 400;
  color: #d1d1d1;
  line-height: 1.65;
  opacity: 1;
  font-size: 30px;
  line-height: 1.65;
}


.section3 {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  font-family: 'Fira Mono';
}

.desc h1 {
  font-weight: 500;
  font-size: 2rem;
}

.separator {
  background-color: #000;
  width: 30%;
  margin-top: 20px;
  margin-left: 35%;
  height: 1px;
}

.comming {
  padding-top: 10px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #fff;
}

.comming p {
  margin: 0;
  position: relative;
  font-family: 'Fira Mono';
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #fff, #000, #fff);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3.5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}
